// app global css

div.area
  text-align: center
  padding: 4% 0
  >div
    width: 50%
    min-width: 300px
    margin-left: auto
    margin-right: auto
    padding: 0 4%
    .q-card
      max-width: 400px
      background-color: #eee
  h4
    margin-top: 0.1em
    margin-bottom: 0.8em

@media (max-width: 585px)
  .q-btn-inner 
    .q-icon
      margin-right: 0
    div
      display: none
